a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out $tr;
	cursor: pointer;
	transition: opacity ease $tr;

	&:hover {
		opacity: $op;
	}
}

p {
	font-family: $ff;
	font-size: 20px;
	font-weight: $fw-regular;
	line-height: 28px;
	text-align: left;
}

b, strong {
	font-weight: $fw-bold
}
