//Main colors
$c-white: #ffffff;
$c-black: #1C1B17;
$c-dark : #242420;
$c-red  : #E53724;
$c-red  : #E53724;
//Backgrounds
$b-red    : #E437271A;
$b-purple : #5C3A841A;
$b-rose   : #E537241A;
$b-aqua   : #1697961A;
