//Main colors
$c-white: #ffffff;
$c-black: #1C1B17;
$c-dark : #242420;
$c-gray : #393936;
$c-red  : #E53724;
$c-aqua	: #169796;

//Backgrounds
$b-red    : #E437271A;
$b-purple : #5C3A841A;
$b-rose   : #E537241A;
$b-aqua   : #1697961A;

//Hovers
$b-light: #E4372733;
$b-dark : #AA1E0F;
