// Font families.
$ff      : 'TT Norms Pro', Arial, sans-serif;
$ff-title: 'Saar SP Demo', Arial, sans-serif;
$ff-decor: 'Karlo Cham Brush', Arial, sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;

// Font weights.
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra: 800;

// Line heights.
$lh-20: 20px;
$lh-24: 24px;
$lh-28: 28px;
$lh-title: 64px;