@import '../../src/scss/utils/helpers/helpers';
@import '../../src/scss/utils/vars/vars';

.faq {
	padding: 28px 0 48px;
	
	@media (min-width: $md) {
		padding: 40px 0 80px;
	}

	@media (min-width: $xl) {
		padding: 52px 0 104px;
	}

	h2 {
		text-align: center;
	}
}

.dropdown {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: $b-light;
	padding: 20px;
	border-radius: $border28;
	margin-bottom: 12px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $md) {
		margin-bottom: 20px;
	}

	&-button {
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		margin-right: 20px;

		@media (min-width: $md) {
			width: 48px;
			height: 48px;
		}

		&-ico {
			width: 100%;
			height: 100%;
			background-color: $c-white;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: background-color ease $tr;
			
			img {
				width: 20px;
				height: 20px;
				transition: transform ease $tr;
			}
		}
	}

	&.opened {
		outline: 2px solid $c-red;
		background-color: $c-white;

		.dropdown-button {
			img  {
				transform: rotate(45deg);
			}
			
			&-ico {
				background-color: $b-light;
			}
		}

		h4 {
			color: $c-black;
			margin-bottom: 16px;
		}
	}

	&-open {
		height: 0;
		overflow: hidden;
		transition: height ease 0.2s;
	}

	&-box {
		width: calc(100% - 56px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: $md) {
			width: calc(100% - 68px);
		}

		h4 {
			text-align: left;
			transition: margin ease $tr, color ease $tr;
			color: $c-red;
		}
	}

	&-inner {
		p {
			@include textLg();
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}