@import '../../node_modules/swiper/swiper-bundle.min';
@import '../../src/scss/utils/helpers/helpers';
@import '../../src/scss/utils/vars/vars';

.gallery {
	padding: 48px 0 28px;
	
	@media (min-width: $md) {
		padding: 80px 0 40px;
	}

	@media (min-width: $xl) {
		padding: 104px 0 52px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: $xl) {
			flex-direction: row;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 100%;

		h2 {
			max-width: 400px;
		}

		@media (min-width: $xl) {
			max-width: 591px;
		}
	}

	&-video {
		margin-bottom: 20px;
		.yt-lazy {
			width: 100%;
			height: 320px;

			@media (min-width: $md) {
				height: 466px;
			}

			@media (min-width: $xl) {
				width: 591px;
				height: 400px;
			}

			&-poster {
				width: 100%;
			}
		}

		&-desc {
			margin-top: 20px;
			padding-right: 20px;
			@include textLg();
		}
	}

	&-photo {
		width: 100%;
		max-width: 100%;

		&-desc {
			@include textLg();

			margin: 20px 0;
		}

		@media (min-width: $lg) {
			max-width: 486px;
		}

		img {
			height: 400px;
			object-fit: cover;
			border-radius: $border28;

			@media (min-width: $md) {
				height: 596px;
			}
		}
	}

	.swiper {
		overflow: visible;

		@media (min-width: $xl) {
			overflow: hidden;
		}
	}

	.swiper-slide {
		width: 300px;

		@media (min-width: $md) {
			width: 640px;

			img {
				width: 100%;
			}
		}

		@media (min-width: $lg) {
			width: 100%;
		}
	}

	.swiper-gallery-controls {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.swiper-pagination {
		justify-content: center;
		margin: 0;

		@media (min-width: $xl) {
			justify-content: flex-start;
			margin-right: 15px;
		}
	}

	.swiper-buttons {
		display: none;
		align-items: center;
		gap: 8px;

		@media (min-width: $xl) {
			display: flex;
		}
	}
}