@import '../../src/scss/utils/helpers/helpers';
@import '../../src/scss/utils/vars/vars';

.persons {
	padding: 28px 0;

	@media (min-width: $md) {
		padding: 40px 0;
	}

	@media (min-width: $xl) {
		padding: 52px 0;
	}

	h2 {
		text-align: center;
	}

	.swiper {
		overflow: visible;

		@media (min-width: $xl) {
			overflow: hidden;
		}
	}

	.persons-wrapper {
		position: relative;

		@media (min-width: $xl) {
			padding: 0 50px;
		}

		@media (min-width: $xxl) {
			padding: 0 76px;
		}
	}

	.swiper-persons {
		.swiper-slide {
			width: 210px;

			@media (min-width: $lg) {	
				width: 242px;
			}
		}

		.persons-pagination {
			justify-content: center;
			margin-top: 40px;
		}
	}

	.swiper-next, .swiper-prev {
		position: absolute;
		top: 42%;
		transform: translateY(-50%);
		z-index: 50;
		display: none;

		@media (min-width: $xl) {
			display: flex;
		}
	}

	.swiper-next {
		right: 0px;
		transform: translateY(-50%) rotate(-180deg);
	}

	.swiper-prev {
		left: 0;
	}

	.person-img {
		width: 100%;
		height: 100%;
		margin-bottom: 20px;

		img {
			border-radius: $border28;
		}
	}

	.person-name {
		@include textLgBold();
		text-align: center;
		margin-bottom: 5px;
	}

	.person-position {
		@include text();
		color: $c-black;
		text-align: center;
	}
}