@import '../../src/scss/utils/helpers/helpers';
@import '../../src/scss/utils/vars/vars';

.awards {
	padding: 28px 0;
	background-color: $c-black;

	@media (min-width: $md) {
		padding: 40px 0;
	}

	@media (min-width: $lg) {
		padding: 52px 0;
	}

	h2 {
		color: $c-white;
		text-align: center;
	}

	&-photos {
		position: relative;

		@media (min-width: $xl) {
			padding: 0 75px;
		}

		.swiper {
			overflow: visible;

			@media (min-width: $md) {
				overflow: hidden;
			}
		}

		.swiper-slide {
			width: 100%;

			img {
				width: 100%;
				border-radius: $border28;

				@media (min-width: $md) {
					height: 360px;
					object-fit: cover;
				}
			}

			@media (min-width: $sm) {
				width: calc(50% - 14px);
			}
		}

		.awards-next, .awards-prev {
			position: absolute;
			top: 40%;
			display: none;
			transform: translateY(-50%);

			@media (min-width: $xl) {
				display: flex;
			}
		}

		.awards-next {
			right: 0;
			transform: translateY(-50%) rotate(180deg);
		}

		.awards-prev {
			left: 0;
		}
	}

	&-desc {
		@include textLg();
		color: $c-white;
		margin-top: 12px;
		text-align: center;
	}

	.awards-pagination {
		justify-content: center;
		margin-top: 50px;

		.swiper-pagination-bullet {
			opacity: 1;
		}
	}
}